[submodule "flexsea-projects"]
	path = flexsea-projects
	url = https://github.com/mitmedialab/biomech_flexsea-projects.git
[submodule "biomech_biomech-config"]
	path = biomech_biomech-config
	url = https://github.com/mitmedialab/biomech_biomech-config.git
