[submodule "flexsea-comm"]
	path = flexsea-comm
	url = https://github.com/JFDuval/flexsea-comm.git
	branch = dev
[submodule "flexsea-system"]
	path = flexsea-system
	url = https://github.com/mitmedialab/biomech_flexsea-system.git
	branch = ts_multipacketUpdate-dev
[submodule "flexsea-shared"]
	path = flexsea-shared
	url = https://github.com/JFDuval/flexsea-shared.git
	branch = dev
[submodule "flexsea_projects"]
	path = flexsea_projects
	url = https://github.com/mitmedialab/biomech_flexsea-projects.git
[submodule "biomech_biomech-config"]
	path = biomech_biomech-config
	url = https://github.com/mitmedialab/biomech_biomech-config.git
