[submodule "flexsea-shared"]
	path = flexsea-shared
	url = https://github.com/JFDuval/flexsea-shared.git
	branch = dev
[submodule "biomech_flexsea-comm"]
	path = biomech_flexsea-comm
	url = https://github.com/mitmedialab/biomech_flexsea-comm.git
[submodule "biomech_flexsea-system"]
	path = biomech_flexsea-system
	url = https://github.com/mitmedialab/biomech_flexsea-system.git
[submodule "biomech_flexsea-projects"]
	path = biomech_flexsea-projects
	url = https://github.com/mitmedialab/biomech_flexsea-projects.git
